<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Brands  </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                    <li class="breadcrumb-item active">Brands</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Brands</h3>
                        <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#addBrandModal">
                            Add Brand
                        </button>
                        <div class="modal fade" id="addBrandModal"  tabindex="-1" role="dialog"
                            aria-labelledby="addBrandModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addBrandModalLabel">Add New Brand</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Brand Name</label>
                                                    <input type="email" [(ngModel)]="addBrandDetails.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter brand name">
                                                </div>
                                                <button class="btn btn-primary" (click)="addBrandList()" data-dismiss="modal" aria-label="Close">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
                                        aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th aria-label="">Sr no.</th>
                                                <th aria-label="">Brand name</th>
                                                <th aria-label="">CreatedAt</th>
                                                <th aria-label="">UpdatedAt</th>
                                                <th aria-label="">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let brand of brandsList; index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{brand.name}}</td>
                                                <td>{{moment(brand.createdAt).format("ll")}}</td>
                                                <td>{{moment(brand.updatedAt).format("ll")}}</td>
                                                <td>
                                                    <div class="text-center">
                                                        <button
                                                            class="border-0 p-0 m-0 mr-2 text-blue bg-transparent fa-regular fa-pen-to-square" (click)="editBrandName(brand)" data-toggle="modal" data-target="#editBrandModal"></button>
                                                        <button
                                                            class="border-0 p-0 m-0 mr-2 text-red bg-transparent fa-solid fa-trash" (click)="deleteBrandList(brand._id)"></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td>Gecko</td>
                                                <td>Firefox 1.5</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Firefox 2.0</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Firefox 3.0</td>
                                                <td>Win 2k+ / OSX.3+</td>
                                                <td>1.9</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Camino 1.0</td>
                                                <td>OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Camino 1.5</td>
                                                <td>OSX.3+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Netscape 7.2</td>
                                                <td>Win 95+ / Mac OS 8.6-9.2</td>
                                                <td>1.7</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Netscape Browser 8</td>
                                                <td>Win 98SE+</td>
                                                <td>1.7</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Netscape Navigator 9</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Gecko</td>
                                                <td>Mozilla 1.0</td>
                                                <td>Win 95+ / OSX.1+</td>
                                                <td>1</td>
                                                <td>A</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="editBrandModal" tabindex="-1" role="dialog"
    aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Brand Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="form-group">
                            <label for="exampleInputEdit">Brand Name</label>
                            <input type="text" class="form-control" id="exampleInputEdit" [(ngModel)]="editBrandNameDetails.name" aria-describedby="emailHelp" placeholder="Enter brand name">
                        </div>
                        <button class="btn btn-primary" (click)="updateBrandList()" data-dismiss="modal" aria-label="Close">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>